<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{mainbuttontitle  | capitalize}}</h1>
      <div class="buttons">
          <button class="button button-icon ion-close-circled" ng-click="closechoosemodal();"></button>
      </div>
    </ion-header-bar>
    <ion-content class="padding">
    <div class="list">
        

  <label class="item item-radio">
    <input type="radio" ng-model="pagesvalue.name" value="Slider with address">
    <div class="item-content">
      Slider with address
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

<label class="item item-radio">
    <input type="radio" ng-model="pagesvalue.name" value="Images and Text">
        <div class="item-content">
            Images and Text
        </div>
        <i class="radio-icon ion-checkmark"></i>
</label>
<label class="item item-radio">
    <input type="radio" ng-model="pagesvalue.name" value="Text list">
        <div class="item-content">
            Text list
        </div>
        <i class="radio-icon ion-checkmark"></i>
</label>

<label class="item item-radio">
    <input type="radio" ng-model="pagesvalue.name" value="Images with Description in List">
        <div class="item-content">
            Images with Description in List
        </div>
        <i class="radio-icon ion-checkmark"></i>
</label>



<label class="item item-radio">
    <input type="radio" ng-model="pagesvalue.name" value="Images">
        <div class="item-content">
            Images
        </div>
        <i class="radio-icon ion-checkmark"></i>
</label>
<label class="item item-radio">
    <input type="radio" ng-model="pagesvalue.name" value="Videos with Description">
        <div class="item-content">
            Videos with Description
        </div>
        <i class="radio-icon ion-checkmark"></i>
</label>
</div>
    <button class="button button-full button-positive" on-touch="choosepage(pagesvalue.name);">
        Submit
    </button>
    </ion-content>
  </ion-modal-view>